# Local-only Alfred preferences files
Alfred/Preferences/Alfred.alfredpreferences/preferences/local/

# OS X files
.DS_Store

# Vim files
*~
*.swp
.viminfo

# Python IDLE files
.idlerc/recent-files.lst

# App launcher files for Homebrew and Wine
bin/steam
bin/uplay
bin/fiddler
bin/spaceengineers

