# OS X files
.DS_Store

# Vim files
*~
*.swp
.viminfo

# Vim plugin files
_.vim/.netrwhist
_.vim/bundle/*
!_.vim/bundle/Vundle.vim

# Python IDLE files
_.idlerc/recent-files.lst

# App launcher files for Homebrew and Wine
bin/steam
bin/uplay
bin/fiddler
bin/spaceengineers

