
body, html {
	text-rendering: optimizeLegibility;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body:hover {
	-webkit-transition: all 0.3s ease;
	opacity: 1 !important;
}


@-webkit-keyframes icon {
	0%   { opacity: 0; -webkit-transform: translate3d( 0, 5px, 0 ); }
	100% { opacity: 1; -webkit-transform: translate3d( 0, 0, 0 ); }
}

@-webkit-keyframes img {
	0%   { opacity: 0; -webkit-transform: translate3d( 0, -80px, 0 ); }
	100% { opacity: 1; -webkit-transform: translate3d( 0, 0, 0 ); }
}
@-webkit-keyframes content {
	0%   { opacity: 0; -webkit-transform: translate3d( -250px, 0, 0 ); }
	50% { opacity: .0; -webkit-transform: translate3d( -50px, 0, 0 ); }
	100% { opacity: 1; -webkit-transform: translate3d( 0, 0, 0 ); }
}

.wrapper {	 
	  width: 297px;
	  height: 80px;
	  position: relative;
}
#imgback{
background-image:url('ribbon.png');
width:47px;
height:80px;
float:left;
margin-left:0px;
margin-top:0px;	z-index:-2;	-webkit-animation: img 0.5s ease;
}

img {
position: absolute;display: block;height: 34px;width: 34px;top: 23px;left: 6px;border-radius: 3px;-webkit-animation: icon 0.8s ease;
z-index:3;}

.notification {
	-webkit-animation: content 1s ease;background: -webkit-linear-gradient(left, rgba(204,204,204,1) 45%,rgba(198,198,198,1) 100%);position: relative;
	float: left;width: 250px;height:60px;margin-top:10px;margin-right:0px;z-index:-3;
	}


.textcontainer{position:absolute;
	width:230px;
	height:48px;
	margin-top:0px;
	margin-left:10px;overflow:hidden;float:left;padding-right:5px;padding-bottom:2px;
	}
	#edge{width:8px;right:0px;float:left;position:relative;left:242px;
		height:100%;border-left:1px solid #A2A5A2;
	background: -webkit-linear-gradient(left, rgba(214,212,212,1) 0%,rgba(170,175,171,1) 50%,rgba(153,150,145,1) 51%,rgba(198,198,196,1) 100%);;z-index:3;	
	}
	
h1,p {
	line-height: 11px;
	clear: both;
	overflow: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

h1 {
	-webkit-animation: other 0.6s ease;
	color:#474747;
	font-size: 10pt;
	overflow: visible;z-index:2;
}

p {-webkit-animation: other 0.8s ease;
	font-family: Lucida Grande, sans-serif;
	font-size: 8pt;
	color: #111;
	margin-top:0px;
	overflow: hidden;z-index:2;
}